/* style pour header */

.topHeader{
    align-items: center;
    width: 100%;
    background-color: rgb(49, 54, 63);
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 0;
    padding-top: 10px;
    padding-left: 0;
}

.menu {
    height: 50px;
    width: 50px;
}

.logo {
    width: 80%;
    height: auto;
    border-radius: 10px;
}

/* style pour index */

.active {
    background-color: bisque;
}

.intro {
    background-image: url("images/worker-is-cutting-wires-with-linemans-pliers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 300px;
    width: auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro__text {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
}

.overlay_intro {
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 100%;
    top: 0;
}

.title {
    margin-top: 0.5em;
    font-size: 4em;
    text-align: center;
    width: 100%;
}

.subtitle {
    font-size: 1.8em;
    text-align: center;
    width: 100%;
    margin-top: 1em;
}

.info {
    background-color: rgb(49, 54, 63);

}

.info2 {
    margin-top: 0px;
    padding-top: 50px;
    font-size: 2.5em;
}

.info3 {
    font-size: 1.8em;
    padding-bottom: 100px;
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.description {
    background: url("images/modern-villa-with-multiple-lights-and-sun-loungers-in-asprovalta-greece.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 1700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description_title {
    margin-top: 0.5em;
    font-size: 2.5em;
    text-align:left;
    padding-top: 50px;
}

.description_text {
    font-size: 1.8em;
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.description_title_text {
    width: 100%;
    height: 100%;
    z-index: 12;
    position: absolute;
}

.overlay_description {
    background-color: rgba(255, 255, 255, 0.3);
    height: 100%;
    width: 100%;
    top: 0;
}

/* style pour footer */

.footer {
    text-align: center;
}

.nav_media {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 0;
    padding-top: 10px;
    padding-left: 0;
}

.facebook, .linkedin, .instagram {
    width: 100%;
    height: 40px;
}

/* style pour realization */

.realization {
    margin-top: 100px;
    background-color: rgb(49, 54, 63);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

/* style pour carousel */

.carousel {
    width: 100%;
    height: 400px;
    border: solid 4px rgb(49, 54, 63);
    position: relative;
    border-radius: 10px;
}

.container {
    width: 40px;
    height: 20px;
}

.bouton {
    position: absolute;
    width: 70px;
    curser:pointer;
    top: 80%;
}

#d{
    right: 0;
    opacity: 0.5;
    transform: rotate(180deg);
    transition: all 0.3s ease;
}

#g{
    left: 0;
    opacity: 0.5;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}

#g:hover {
    transform: rotate(0deg) scale(1.1);
    opacity: 1;
}

#d:hover {
    transform: rotate(180deg) scale(1.1);
    opacity: 1;
}