.topHeader{
    align-items: center;
    width: 100%;
    background-color: rgb(176, 97, 97);
    height: 70px;

}

.nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 0;
    padding-top: 10px;
    padding-left: 0;
}

.menu {
    height: 50px;
    width: 50px;
    
}

#logo {
    width: 100%;
    height: auto;
}